In [160]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import math
import os
import string

# LIST OF FILES

In [161]:
files=os.listdir(r'C:\Users\CRUISE\Desktop\coviddata')

# COVID FILES

In [162]:
covid=[file for file in files if file[:5] == "covid"]

# MAY COVID FILES

In [163]:
maycovid=[file for file in covid if "May" in file]

# APRIL COVID FILES

In [164]:
aprilcovid=[file for file in covid if "Apr" in file]

# COVID 11PM PLUS FILES

In [165]:
covid11pm_plus=[file for file in covid if "23" in file[-13:-10]]

In [166]:
df_files=[]


for file1 in covid11pm_plus:
    df=pd.read_csv(r'C:\Users\CRUISE\Desktop\coviddata'+"\\"+file1)
    df_files.append(df)
    
covid11pm_plusnew=pd.concat(df_files, ignore_index=True,sort=False)

covid11pm_plusnew.to_csv("final.csv")

In [167]:
covid11pm_plusnew.head()

,countries,infected,infected_today,deaths,deaths_today,recovered,recovered_today,active,critical,tests,death_rate,recovery_rate
0,United States,1129882,35152.0,65724,1883.0,161551,9227.0,902607,16478.0,6690837.0,5.8,14.3
1,Spain,242988,3349.0,24824,281.0,142450,4466.0,75714,2500.0,1528833.0,10.2,58.6
2,Italy,207428,1965.0,28236,269.0,78249,2304.0,100943,1578.0,2053425.0,13.6,37.7
3,United Kingdom,178566,6206.0,27579,741.0,856,31.0,150131,1559.0,1023824.0,15.4,0.5
4,France,167346,168.0,24594,218.0,50212,736.0,92540,3878.0,1100228.0,14.7,30.0

# COVID OTHER TIME FILES

In [168]:
covid_others=[file for file in covid if "23" not in file[-13:-10]]

In [169]:
df2_files=[]


for file2 in covid_others:
    df2=pd.read_csv(r'C:\Users\CRUISE\Desktop\coviddata'+"\\"+file2)
    df2_files.append(df2)
    
covid_othersnew=pd.concat(df2_files, ignore_index=True,sort=False)

covid_othersnew.to_csv("final2.csv")

In [170]:
covid_othersnew.head()

,countries,infected,infected_today,deaths,deaths_today,recovered,recovered_today,active,critical,tests,death_rate,recovery_rate
0,United States,1095304,574.0,63871,30.0,155737,3413.0,875696,15226.0,6391887.0,5.8,14.2
1,Spain,239639,0.0,24543,0.0,137984,0.0,77112,2676.0,1455306.0,10.2,57.6
2,Italy,205463,0.0,27967,0.0,75945,0.0,101551,1694.0,1979217.0,13.6,37.0
3,United Kingdom,172363,3.0,26838,0.0,825,0.0,144700,1559.0,901905.0,15.6,0.5
4,France,167178,0.0,24376,0.0,49476,0.0,93326,4019.0,724574.0,14.6,29.6

# COVID OTHER TIME: 
    MAY FILES

In [171]:
covidmay_others=[file for file in covid_others if "May" in file]

In [172]:
df3_files=[]


for file3 in covidmay_others:
    df3=pd.read_csv(r'C:\Users\CRUISE\Desktop\coviddata'+"\\"+file3)
    df3_files.append(df3)
    
covidmay_othersnew=pd.concat(df3_files, ignore_index=True,sort=False)

covidmay_othersnew.to_csv("final3.csv")

In [173]:
covidmay_othersnew.head()

,countries,infected,infected_today,deaths,deaths_today,recovered,recovered_today,active,critical,tests,death_rate,recovery_rate
0,United States,1095304,574,63871,30,155737,3413,875696,15226,6391887,5.8,14.2
1,Spain,239639,0,24543,0,137984,0,77112,2676,1455306,10.2,57.6
2,Italy,205463,0,27967,0,75945,0,101551,1694,1979217,13.6,37.0
3,United Kingdom,172363,3,26838,0,825,0,144700,1559,901905,15.6,0.5
4,France,167178,0,24376,0,49476,0,93326,4019,724574,14.6,29.6

# ITALY CASES FOR MAY

In [174]:
covidmay_othersnew[covidmay_othersnew["countries"]=="Italy"].head()

,countries,infected,infected_today,deaths,deaths_today,recovered,recovered_today,active,critical,tests,death_rate,recovery_rate
2,Italy,205463,0,27967,0,75945,0,101551,1694,1979217,13.6,37.0
218,Italy,207428,0,28236,0,78249,0,100943,1578,2053425,13.6,37.7
434,Italy,209328,0,28710,0,79914,0,100704,1539,2108837,13.7,38.2
650,Italy,210717,0,28884,0,81654,0,100179,1501,2153772,13.7,38.8
866,Italy,211938,0,29079,0,82879,0,99980,1479,2191403,13.7,39.1

In [175]:
print("Total cases in Italy during this period: ",covidmay_othersnew[covidmay_othersnew["countries"]=="Italy"]["infected"].max()-covidmay_othersnew[covidmay_othersnew["countries"]=="Italy"]["infected"].min())

Total cases in Italy during this period:  24395

In [230]:
print("Total cases in Italy during this period using daily confirmed cases: ",covidmay_othersnew[covidmay_othersnew["countries"]=="Italy"]["infected_today"].sum())

Total cases in Italy during this period using daily confirmed cases:  0

# RUSSIA CASES FOR MAY

In [176]:
covidmay_othersnew[covidmay_othersnew["countries"]=="Russia"].head()

,countries,infected,infected_today,deaths,deaths_today,recovered,recovered_today,active,critical,tests,death_rate,recovery_rate
7,Russia,114431,7933,1169,96,13220,1601,100042,2300,3700000,1.0,11.6
222,Russia,124054,9623,1222,53,15013,1793,107819,2300,3945518,1.0,12.1
438,Russia,134687,10633,1280,58,16639,1626,116768,2300,4100000,1.0,12.4
654,Russia,145268,10581,1356,76,18095,1456,125817,2300,4300000,0.9,12.5
870,Russia,155370,10102,1451,95,19865,1770,134054,2300,4460357,0.9,12.8

In [177]:
print("Total cases in Russia during this period: ",covidmay_othersnew[covidmay_othersnew["countries"]=="Russia"]["infected"].max()-covidmay_othersnew[covidmay_othersnew["countries"]=="Russia"]["infected"].min())

Total cases in Russia during this period:  238996

In [231]:
print("Total cases in Russia during this period using daily confirmed cases: ",covidmay_othersnew[covidmay_othersnew["countries"]=="Russia"]["infected_today"].sum())

Total cases in Russia during this period using daily confirmed cases:  216056


# COVID OTHER TIME:

APRIL FILES

In [232]:
covidapr_others=[file for file in covid_others if "Apr" in file]

In [233]:
df4_files=[]


for file4 in covidapr_others:
    df4=pd.read_csv(r'C:\Users\CRUISE\Desktop\coviddata'+"\\"+file4)
    df4_files.append(df4)
    
covidapr_othersnew=pd.concat(df4_files, ignore_index=True,sort=False)

covidapr_othersnew.to_csv("final4.csv")

In [234]:
covidapr_othersnew.drop(["infected_today","deaths_today","recovered_today","tests","critical"],axis=1,inplace=True)

In [235]:
covidapr_othersnew.head()

,countries,infected,deaths,recovered,active,death_rate,recovery_rate,infected_today
0,United States,244190,5883,10400,227907,2.4,4.3,NaN
1,Italy,115242,13915,18278,83049,12.1,15.9,NaN
2,Spain,112065,10348,26743,74974,9.2,23.9,NaN
3,Germany,84794,1107,22440,61247,1.3,26.5,NaN
4,China,82413,3322,76546,2545,4.0,92.9,NaN

# ITALY CASES FOR APRIL

In [182]:
covidapr_othersnew[covidapr_othersnew["countries"]=="Italy"].head()

    countries  infected  deaths  recovered  active  death_rate  recovery_rate
1       Italy    115242   13915      18278   83049        12.1           15.9
210     Italy    119827   14681      19758   85388        12.3           16.5
420     Italy    124632   15362      20996   88274        12.3           16.8
629     Italy    124632   15362      20996   88274        12.3           16.8
839     Italy    132547   16523      22837   93187        12.5           17.2

In [183]:
print("Total cases in Italy during this period: ",covidapr_othersnew[covidapr_othersnew["countries"]=="Italy"]["infected"].max()-covidapr_othersnew[covidapr_othersnew["countries"]=="Italy"]["infected"].min())

Total cases in Italy during this period:  88349

# RUSSIA CASES FOR APRIL

In [184]:
covidapr_othersnew[covidapr_othersnew["countries"]=="Russia"].head()

    countries  infected  deaths  recovered  active  death_rate  recovery_rate
24     Russia      3548      30        235    3283         0.8            6.6
232    Russia      4149      34        281    3834         0.8            6.8
439    Russia      4731      43        333    4355         0.9            7.0
648    Russia      4731      43        333    4355         0.9            7.0
856    Russia      7497      58        494    6945         0.8            6.6

In [185]:
print("Total cases in Russia during this period: ",covidapr_othersnew[covidapr_othersnew["countries"]=="Russia"]["infected"].max()-covidapr_othersnew[covidapr_othersnew["countries"]=="Russia"]["infected"].min())

Total cases in Russia during this period:  102950

# END OF ANALYSIS ON COVID FILES




# NEXT:  WORLDWIDE FILES

In [186]:
world=[file for file in files if file[:2] == "wo"]

#

# WORLD 11PM PLUS FILES

APRIL FILES

In [187]:
world11pm_plus=[file for file in world if "23" in file[-13:-10]]

In [188]:
worldapr11pm_plus=[file for file in world11pm_plus if "Apr" in file]

# I noticed there was a difference in columns number in the worldwide dataset via trial and error

In [189]:
df5_files=[]
df6_files=[]

for name in worldapr11pm_plus:
    df5=pd.read_csv(r'C:\Users\CRUISE\Desktop\coviddata'+"\\"+name)
    if len(df5.columns)==13: ## files with 13 columns
        df5_files.append(df5)
    else:
        df6_files.append(df5) ## append files with 7 columns
        
worldapr11pm_plusnew13cols=pd.concat(df5_files, ignore_index=True,sort=False)
worldapr11pm_plusnew7cols=pd.concat(df6_files, ignore_index=True,sort=False)

worldapr11pm_plusnew13cols.to_csv("final5.csv")
worldapr11pm_plusnew7cols.to_csv("final6.csv")

In [190]:
worldapr11pm_plusnew13cols.head()      ## 13 columns

,Country,Total confirmed,Total_confirmed_today,Total_deaths,Total_deaths_today,Total_Recoveries,Total_Recoveries_today,Active_confirmed,Critical,Mortality_close,Mortality_confirmed,Total_tests,Total_tests_today
0,USA,"396,215","29,609","12,790","1,931","21,674","2,101","361,751","9,169 (3%)","361,751",3%,"2,065,073","151,605"
1,USA,"141,942","5,267","14,045",704,"43,208","2,771","84,689","7,069 (8%)","84,689",10%,"355,000",0
2,USA,"135,586","3,039","17,127",604,"24,392","1,555","94,067","3,792 (4%)","94,067",13%,"755,445","33,713"
3,USA,"109,069","11,059","10,328","1,417","19,337","2,087","79,404","7,131 (9%)","79,404",9%,"224,254",0
4,USA,"107,663","4,289","2,016",206,"36,081","7,381","69,566","4,895 (7%)","69,566",2%,"918,460",0

In [192]:
## replace United-states with USA

worldapr11pm_plusnew7cols.replace("united-states","USA",inplace=True)
worldapr11pm_plusnew13cols.replace("united-states","USA",inplace=True)

In [193]:
worldapr11pm_plusnew7cols.rename(columns={"Total confirmed cases":"Total confirmed","Total deaths":"Total_deaths","Cases confirmed today":"Total_confirmed_today"},inplace=True)

In [194]:
worldapr11pm_plusnew7cols.head()    ## 7 columns

,Country,Total confirmed,Total_deaths,Confirmed recoveries,Total_confirmed_today,Deaths today,Recoveries confirmed today
0,USA,"242,899","5,865","10,400","28,260",766,"1,522"
1,italy,"115,242","13,915","18,278","4,668",760,"1,431"
2,spain,"112,065","10,348","26,743","7,947",961,"4,096"
3,germany,"84,794","1,107","22,440","6,813",176,"3,740"
4,china,"82,413","3,322","76,546",53,6,142

In [195]:
worldapr11pm_plusnew7cols.drop(["Total_deaths","Confirmed recoveries","Deaths today","Recoveries confirmed today"],axis=1,inplace=True)

In [196]:
# Concatenating the 13 columns and 7 columns table
worldapr11pm_pluscombined=pd.concat([worldapr11pm_plusnew13cols,worldapr11pm_plusnew7cols],ignore_index=True,sort=False)

In [197]:
worldapr11pm_pluscombined.dropna(axis=1,inplace=True)

In [198]:
def txt_clean(mess):
    """
    1.remove punc
    2.return integer
    """
    nopunc=[ch for ch in mess if ch not in string.punctuation]
    nopunc="".join(nopunc)
    
    for word in nopunc.split(): 
        if word not in string.punctuation:
            return int(word)

In [199]:
## convert string in series to int
worldapr11pm_pluscombined["Total_confirmed_today"]=pd.DataFrame(worldapr11pm_pluscombined["Total_confirmed_today"].apply(txt_clean), columns=["Total_confirmed_today"])
worldapr11pm_pluscombined["Total confirmed"]=pd.DataFrame(worldapr11pm_pluscombined["Total confirmed"].apply(txt_clean), columns=["Total confirmed"])

# Total number of USA cases: 

WORLD 11PM PLUS FILES
APRIL FILES

In [201]:
print("Total cases in USA during this period using daily confirmed cases: ",worldapr11pm_pluscombined[worldapr11pm_pluscombined["Country"]=="USA"]["Total_confirmed_today"].sum())

Total cases in USA during this period using daily confirmed cases:  819708

In [202]:
print("Total cases in USA during this period using Total confirmed cases: ",worldapr11pm_pluscombined[worldapr11pm_pluscombined["Country"]=="USA"]["Total confirmed"].max()-worldapr11pm_pluscombined[worldapr11pm_pluscombined["Country"]=="USA"]["Total confirmed"].min())

Total cases in USA during this period using Total confirmed cases:  1094717

# # Total number of GERMANY cases:
WORLD 11PM PLUS FILES APRIL FILES

In [225]:
print("Total cases in GERMANY during this period using daily confirmed cases: ",worldapr11pm_pluscombined[worldapr11pm_pluscombined["Country"]=="germany"]["Total_confirmed_today"].sum())

Total cases in GERMANY during this period using daily confirmed cases:  45008

In [226]:
print("Total cases in GERMANY during this period using Total confirmed cases: ",worldapr11pm_pluscombined[worldapr11pm_pluscombined["Country"]=="germany"]["Total confirmed"].max()-worldapr11pm_pluscombined[worldapr11pm_pluscombined["Country"]=="germany"]["Total confirmed"].min())

Total cases in GERMANY during this period using Total confirmed cases:  78215

#

# WORLD 11PM PLUS FILES
MAY FILES

In [207]:
worldmay11pm_plus=[file for file in world11pm_plus if "May" in file]

In [208]:
df7_files=[]


for file7 in worldmay11pm_plus:
    df7=pd.read_csv(r'C:\Users\CRUISE\Desktop\coviddata'+"\\"+file7)
    df7_files.append(df7)
    
worldmay11pm_plusnew=pd.concat(df7_files, ignore_index=True,sort=False)

worldmay11pm_plusnew.to_csv("final7.csv")

In [214]:
worldmay11pm_plusnew.head()

,Country,Total confirmed,Total_confirmed_today,Total_deaths,Total_deaths_today,Total_Recoveries,Total_Recoveries_today,Active_confirmed,Critical,Mortality_close,Mortality_confirmed,Total_tests,Total_tests_today
0,united-states,"1,129,882","35,152","65,724","1,883","161,551","9,227","902,607","16,478 (2%)","902,607",6%,"6,690,837","314,371"
1,spain,"242,988","3,349","24,824",281,"142,450","4,466","75,714","2,500 (3%)","75,714",10%,"1,528,833","73,527"
2,italy,"207,428","1,965","28,236",269,"78,249","2,304","100,943","1,578 (2%)","100,943",14%,"2,053,425","74,208"
3,united-kingdom,"178,566","6,206","27,579",741,856,31,"150,131","1,559 (1%)","150,131",15%,"1,023,824","121,919"
4,france,"167,346",168,"24,594",218,"50,212",736,"92,540","3,878 (4%)","92,540",15%,"1,100,228","375,654"

In [218]:
## convert string in series to int
worldmay11pm_plusnew["Total_confirmed_today"]=pd.DataFrame(worldmay11pm_plusnew["Total_confirmed_today"].apply(txt_clean), columns=["Total_confirmed_today"])
worldmay11pm_plusnew["Total confirmed"]=pd.DataFrame(worldmay11pm_plusnew["Total confirmed"].apply(txt_clean), columns=["Total confirmed"])

# # Total number of USA cases:
WORLD 11PM PLUS FILES MAY FILES

In [223]:
print("Total cases in USA during this period using Total confirmed cases: ",worldmay11pm_plusnew[worldmay11pm_plusnew["Country"]=="united-states"]["Total confirmed"].max()-worldmay11pm_plusnew[worldmay11pm_plusnew["Country"]=="united-states"]["Total confirmed"].min())

Total cases in USA during this period using Total confirmed cases:  555285

In [224]:
print("Total cases in USA during this period using daily confirmed cases: ",worldmay11pm_plusnew[worldmay11pm_plusnew["Country"]=="united-states"]["Total_confirmed_today"].sum())

Total cases in USA during this period using daily confirmed cases:  585611

# # Total number of GERMANY cases:
WORLD 11PM PLUS FILES MAY FILES

In [227]:
print("Total cases in GERMANY during this period using daily confirmed cases: ",worldmay11pm_plusnew[worldmay11pm_plusnew["Country"]=="germany"]["Total_confirmed_today"].sum())

Total cases in GERMANY during this period using daily confirmed cases:  17319

In [228]:
print("Total cases in GERMANY during this period using Total confirmed cases: ",worldmay11pm_plusnew[worldmay11pm_plusnew["Country"]=="germany"]["Total confirmed"].max()-worldmay11pm_plusnew[worldmay11pm_plusnew["Country"]=="germany"]["Total confirmed"].min())

Total cases in GERMANY during this period using Total confirmed cases:  16251

# KICKER

In [252]:
world11pm_plus;

In [278]:
df9_files=[]
df10_files=[]

for name1 in world11pm_plus:
    df9=pd.read_csv(r'C:\Users\CRUISE\Desktop\coviddata'+"\\"+name1)
    if len(df9.columns)==13: ## files with 13 columns
        df9_files.append(df9)
    else:
        df10_files.append(df9) ## append files with 7 columns
        
world11pm_plusnew13cols=pd.concat(df9_files, ignore_index=True,sort=False)
world11pm_plusnew7cols=pd.concat(df10_files, ignore_index=True,sort=False)

world11pm_plusnew13cols.to_csv("final9.csv")
world11pm_plusnew7cols.to_csv("final10.csv")

In [279]:
world11pm_plusnew13cols.head()

,Country,Total confirmed,Total_confirmed_today,Total_deaths,Total_deaths_today,Total_Recoveries,Total_Recoveries_today,Active_confirmed,Critical,Mortality_close,Mortality_confirmed,Total_tests,Total_tests_today
0,united-states,"1,129,882","35,152","65,724","1,883","161,551","9,227","902,607","16,478 (2%)","902,607",6%,"6,690,837","314,371"
1,spain,"242,988","3,349","24,824",281,"142,450","4,466","75,714","2,500 (3%)","75,714",10%,"1,528,833","73,527"
2,italy,"207,428","1,965","28,236",269,"78,249","2,304","100,943","1,578 (2%)","100,943",14%,"2,053,425","74,208"
3,united-kingdom,"178,566","6,206","27,579",741,856,31,"150,131","1,559 (1%)","150,131",15%,"1,023,824","121,919"
4,france,"167,346",168,"24,594",218,"50,212",736,"92,540","3,878 (4%)","92,540",15%,"1,100,228","375,654"

In [280]:
world11pm_plusnew7cols.head()

,Country,Total confirmed cases,Total deaths,Confirmed recoveries,Cases confirmed today,Deaths today,Recoveries confirmed today
0,united-states,"242,899","5,865","10,400","28,260",766,"1,522"
1,italy,"115,242","13,915","18,278","4,668",760,"1,431"
2,spain,"112,065","10,348","26,743","7,947",961,"4,096"
3,germany,"84,794","1,107","22,440","6,813",176,"3,740"
4,china,"82,413","3,322","76,546",53,6,142

In [281]:
world11pm_plusnew7cols.replace("united-states","USA",inplace=True)
world11pm_plusnew13cols.replace("united-states","USA",inplace=True)

In [283]:
world11pm_plusnew7cols.rename(columns={"Total confirmed cases":"Total confirmed","Total deaths":"Total_deaths","Cases confirmed today":"Total_confirmed_today"},inplace=True)

In [284]:
world11pm_plusnew7cols.drop(["Total_deaths","Confirmed recoveries","Deaths today","Recoveries confirmed today"],axis=1,inplace=True)

In [285]:
world11pm_plusnew7cols.head()

   Country Total confirmed Total_confirmed_today
0      USA         242,899                28,260
1    italy         115,242                 4,668
2    spain         112,065                 7,947
3  germany          84,794                 6,813
4    china          82,413                    53

In [286]:
# Concatenating the 13 columns and 7 columns table
world11pm_pluscombined=pd.concat([world11pm_plusnew13cols,world11pm_plusnew7cols],ignore_index=True,sort=False)

In [287]:
worldapr11pm_pluscombined.dropna(axis=1,inplace=True)

In [288]:
def text_clean(mess):
    """
    1.remove punc
    2.return integer
    """
    if type(mess)== str:
        nopunc=[ch for ch in mess if ch not in string.punctuation]
        nopunc="".join(nopunc)
        for word in nopunc.split(): 
            if word not in string.punctuation:
                return int(word)   
    else:
        return int(mess)

In [290]:
## convert string in series to int
world11pm_pluscombined["Total_confirmed_today"]=pd.DataFrame(world11pm_pluscombined["Total_confirmed_today"].apply(text_clean), columns=["Total_confirmed_today"])
world11pm_pluscombined["Total confirmed"]=pd.DataFrame(world11pm_pluscombined["Total confirmed"].apply(text_clean), columns=["Total confirmed"])

In [295]:
world11pm_pluscombined.head()

,Country,Total confirmed,Total_confirmed_today,Total_deaths,Total_deaths_today,Total_Recoveries,Total_Recoveries_today,Active_confirmed,Critical,Mortality_close,Mortality_confirmed,Total_tests,Total_tests_today
0,USA,1129882,35152,"65,724","1,883","161,551","9,227","902,607","16,478 (2%)","902,607",6%,"6,690,837","314,371"
1,spain,242988,3349,"24,824",281,"142,450","4,466","75,714","2,500 (3%)","75,714",10%,"1,528,833","73,527"
2,italy,207428,1965,"28,236",269,"78,249","2,304","100,943","1,578 (2%)","100,943",14%,"2,053,425","74,208"
3,united-kingdom,178566,6206,"27,579",741,856,31,"150,131","1,559 (1%)","150,131",15%,"1,023,824","121,919"
4,france,167346,168,"24,594",218,"50,212",736,"92,540","3,878 (4%)","92,540",15%,"1,100,228","375,654"

# GERMANY CASES

In [293]:
print("Total cases in GERMANY during this period using daily confirmed cases: ",world11pm_pluscombined[world11pm_pluscombined["Country"]=="germany"]["Total_confirmed_today"].sum())

Total cases in GERMANY during this period using daily confirmed cases:  62327

In [ ]:
a=world11pm_pluscombined[world11pm_pluscombined["Country"]=="germany"]["Total_confirmed_today"].sum()

In [294]:
print("Total cases in GERMANY during this period using Total confirmed cases: ",world11pm_pluscombined[world11pm_pluscombined["Country"]=="germany"]["Total confirmed"].max()-world11pm_pluscombined[world11pm_pluscombined["Country"]=="germany"]["Total confirmed"].min())

Total cases in GERMANY during this period using Total confirmed cases:  95534

# USA CASES

In [297]:
print("Total cases in USA during this period using daily confirmed cases: ",world11pm_pluscombined[world11pm_pluscombined["Country"]=="USA"]["Total_confirmed_today"].sum())

Total cases in USA during this period using daily confirmed cases:  1405319

In [298]:
print("Total cases in USA during this period using Total confirmed cases: ",world11pm_pluscombined[world11pm_pluscombined["Country"]=="USA"]["Total confirmed"].max()-world11pm_pluscombined[world11pm_pluscombined["Country"]=="USA"]["Total confirmed"].min())

Total cases in USA during this period using Total confirmed cases:  1685163

# ITALY CASES

In [302]:
print("Total cases in Italy during this period using daily confirmed cases: ",world11pm_pluscombined[world11pm_pluscombined["Country"]=="italy"]["Total_confirmed_today"].sum())

Total cases in Italy during this period using daily confirmed cases:  75466

In [303]:
print("Total cases in Italy during this period using Total confirmed cases: ",world11pm_pluscombined[world11pm_pluscombined["Country"]=="italy"]["Total confirmed"].max()-world11pm_pluscombined[world11pm_pluscombined["Country"]=="italy"]["Total confirmed"].min())

Total cases in Italy during this period using Total confirmed cases:  114616

# RUSSIA CASES

In [305]:
print("Total cases in Russia during this period using daily confirmed cases: ",world11pm_pluscombined[world11pm_pluscombined["Country"]=="russia"]["Total_confirmed_today"].sum())

Total cases in Russia during this period using daily confirmed cases:  301517

In [306]:
print("Total cases in Russia during this period using Total confirmed cases: ",world11pm_pluscombined[world11pm_pluscombined["Country"]=="russia"]["Total confirmed"].max()-world11pm_pluscombined[world11pm_pluscombined["Country"]=="russia"]["Total confirmed"].min())

Total cases in Russia during this period using Total confirmed cases:  340933

# CHINA CASES

In [309]:
print("Total cases in China during this period using daily confirmed cases: ",world11pm_pluscombined[world11pm_pluscombined["Country"]=="china"]["Total_confirmed_today"].sum())

Total cases in China during this period using daily confirmed cases:  974

In [310]:
print("Total cases in China during this period using Total confirmed cases: ",world11pm_pluscombined[world11pm_pluscombined["Country"]=="china"]["Total confirmed"].max()-world11pm_pluscombined[world11pm_pluscombined["Country"]=="china"]["Total confirmed"].min())

Total cases in China during this period using Total confirmed cases:  1393

In [313]:
a=world11pm_pluscombined[world11pm_pluscombined["Country"]=="germany"]["Total_confirmed_today"].sum()
b=world11pm_pluscombined[world11pm_pluscombined["Country"]=="USA"]["Total_confirmed_today"].sum()
c=world11pm_pluscombined[world11pm_pluscombined["Country"]=="italy"]["Total_confirmed_today"].sum()
d=world11pm_pluscombined[world11pm_pluscombined["Country"]=="russia"]["Total_confirmed_today"].sum()
e=world11pm_pluscombined[world11pm_pluscombined["Country"]=="china"]["Total_confirmed_today"].sum()

In [320]:
xy={"Country":["Germany","USA","Italy","Russia","China"], "Cases":[a,b,c,d,e]}
pd.DataFrame(xy)

   Country    Cases
0  Germany    62327
1      USA  1405319
2    Italy    75466
3   Russia   301517
4    China      974

In [321]:
f=world11pm_pluscombined[world11pm_pluscombined["Country"]=="germany"]["Total confirmed"].max()-world11pm_pluscombined[world11pm_pluscombined["Country"]=="germany"]["Total confirmed"].min()
g=world11pm_pluscombined[world11pm_pluscombined["Country"]=="USA"]["Total confirmed"].max()-world11pm_pluscombined[world11pm_pluscombined["Country"]=="USA"]["Total confirmed"].min()
h=world11pm_pluscombined[world11pm_pluscombined["Country"]=="italy"]["Total confirmed"].max()-world11pm_pluscombined[world11pm_pluscombined["Country"]=="italy"]["Total confirmed"].min()
i=world11pm_pluscombined[world11pm_pluscombined["Country"]=="russia"]["Total confirmed"].max()-world11pm_pluscombined[world11pm_pluscombined["Country"]=="russia"]["Total confirmed"].min()
j=world11pm_pluscombined[world11pm_pluscombined["Country"]=="china"]["Total confirmed"].max()-world11pm_pluscombined[world11pm_pluscombined["Country"]=="china"]["Total confirmed"].min()

In [322]:
xz={"Country":["Germany","USA","Italy","Russia","China"], "Cases":[f,g,h,i,j]}
pd.DataFrame(xz)

   Country    Cases
0  Germany    95534
1      USA  1685163
2    Italy   114616
3   Russia   340933
4    China     1393